<div class="col-10 offset-1" about>
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target=_blank" href="https://github.com/scottja23">Jackson</a>. 
  </p>
  <br />
  <p> Jackson is learning full-stack web development through Vanderbilt University's online coding bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%=image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-1">
    <h2 class="text-center">Jackson Scott</h2>
    <br />
    <p>
      Jackson Scott is a student at Vanderbilt's Coding Bootcamp. He is currently working full-time as an Intelligence Analyst for Homeland Security, but hopes to make a career change and become a Software Developer.
    </p>
  </div>
</div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>